*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

ul{
  list-style: none;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  width:1160px;
  margin: 0 auto;
}
.app{
position: relative;
}

.app{
  background-image: url("../src/components/images/juniper.png");
  background-repeat: no-repeat;
  background-position: 0% 80%;
}